.defi-transaction-container {
  max-height: 300px; /* Set a maximum height for the scrollable box */
  overflow-y: scroll; /* Enable vertical scrolling */
  border: 1px solid #ccc; /* Optional: Add a border for styling */
  padding: 10px; /* Optional: Add padding for spacing */
}

.defi-transactions {
  margin: auto; /* Center the table */
}

table {
  width: 100%;
  border-collapse: collapse; /* Remove default table borders */
  margin-top: 10px; /* Add some top margin */
}

th,
td {
  border: 1px solid #ddd; /* Add minimal borders to table cells */
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2; /* Light gray background for header */
  color: black;
}

.contracts-deployed-contianer {
  overflow-x: scroll;
}

.contract-cards {
  display: flex;
  justify-content: space-around;
}

.contract-card:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.contract-card {
  width: 300px;
  text-align: justify;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border-radius: 10px;
  border: 1px solid rgba(223, 209, 209, 0.515);
  margin: 5px;
  padding: 10px;
}

.explor-div button {
  color: black;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  border: none;
  background: #9a9fff;
  margin: 5px;
}
.explor-div {
  display: flex;
  justify-content: center;
}

#font-size {
  font-size: 30px;
}

#padding-purple {
  padding: 10px;
  color: #9a9fff;
}
.defi-heading {
  color: #9a9fff;
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#color-orange {
  color: #fd7725;
  margin-top: 50px;
}
