.Navbar-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 20px;
  /* box-shadow: rgb(149 157 165 / 37%) 0px 8px 24px; */
}

.image-profile img {
  border-radius: 30px;
  width: 200px;
}

.profile-div {
  padding: 15px;
  border: 1px solid #00000000;
  display: flex;
  margin: 10px 5px;
}

.description-profile {
  margin-top: -15px;
}

.right-side-profile {
  padding: 30px;
  text-align: justify;
}

.follow-message-button button:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.follow-message-button button {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border-radius: 40px;
  background: #fd7725;
  border: none;
  font-size: 18px;
  color: black;
  padding: 8px 18px;
}
.follow-message-button {
  display: flex;
  margin: 15px 0px;
  gap: 100px;
}

.logo-div img {
  width: 220px;
}

.logo-div {
  padding: 0px 30px;
}

.connect-wallet-div {
  align-items: center;
  display: flex;
  padding: 0px 30px;
}

.connect-wallet-div button:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}
.connect-wallet-div button {
  margin: 0px 30px;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
}
